@model TpModule6Bo.Samourai

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer le samouraï</h2>

<h3>Êtes-vous sûr(e) de vouloir supprimer le samouraï ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Force)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potentiel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potentiel)
        </dd>
    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
